
<%
     # Display the form
     @answer = Answer.new 
%>
  <div class="col-md-3" style="padding-top: 10px">
  <div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span class="glyphicon glyphicon-hand-right"></span>&nbsp;
            <span id="poll_title"><%= @poll.name %></span>
        </h3>
    </div>
    <div id="poll_message">&nbsp;</div>
    <div id="poll_body" class="panel-body">
      <%= form_for @answer, url: '/poll/submit' do |f| %>
        <ul class="list-group">
          <% @answers.each do |answer| %>
            <li class="list-group-item">
              <div class="form-check">
                <label>
                  <%= f.radio_button :choice, answer.item %> 
                  <%= answer.item %>
                </label>
              </div>
            </li>
          <% end %>
        </ul>
        <%= f.submit "Vote", :class => 'btn btn-primary btn-block btn-sm' %>
      <% end %>
    </div>
    <div id="poll_footer">&nbsp;</div>      
  </div>
  </div>

