<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<h2>Ruby Instant Poll</h2>
<h3><%= @poll.name %></h3>

<% if @answer %>
  Thanks for participating!<br/><br/>
  You chose <span style="color: #3526f0"><%=@answer.choice%></span>.<br/>
  Overall results:<br/>
  <% @answers.each do |answer| %>
    <pre><%=answer.item.rjust(10, ' ')%>: <%=answer.count%></pre>
  <% end %>

<% else
     @answer = Answer.new 
%>
  <%= form_for @answer, url: '/poll/index' do |f| %>
    <% @answers.each do |answer| %>
      <%= f.radio_button :choice, answer.item %> 
      <%= f.label :choice, answer.item, :value => answer.item %><br/>
    <% end %>
    <br/>
    <%= f.submit "Submit" %>
  <% end %>
<% end %>
	